{{!--  --}}
{{!--  --}}
<div class="card mt-3">
    <div class="card-header bg-dark text-white">
        <h5>Last comments</h5>
    </div>
    <div class="card-body">
        {{#each sidebar.comments}}
        <div class="row">
            <div class="col">
                <a href="/image/{{image.uniqueId}}">
                    <img src="/public/uploads/{{image.filename}}" class="img-thumbnail w-70">
                </a>
            </div>
            <div class="col">
                <blockquote class="w-100">
                    <p>{{comment}}</p>
                    <footer class="blockquote-footer">
                        <span>{{name}}</span>
                        <span>{{timeago data}}</span>
                    </footer>
                </blockquote>
            </div>
        </div>
        {{/each}}
    </div>
</div>